<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Vista de Productos</h1>
    </div>
    <div>
        <ul style="list-style:none">
            <% productos.forEach( producto => { %>
                <li>
                    <%= producto.nombre %>
                </li>
                <li>
                    <%= producto.precio %>
                </li>
                <li>
                    <img style="max-width: 4%;"

                    src= <%= producto.imagen %>

                    >
                </li>
            <% }); %>
        </ul>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
    
</body>
</html>